infra/n8n/call-transcript-approval.json
{
  "name": "Call Transcript Approval Flow",
  "nodes": [
    {
      "parameters": {
        "path": "call-transcript",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "WebhookIn",
      "name": "Transcript Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8080/webhooks/n8n/call-transcript",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify($json.body || $json) }}"
      },
      "id": "AnalyzeTranscript",
      "name": "Analyze Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "Respond",
      "name": "Return Approval Item",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 260]
    }
  ],
  "connections": {
    "Transcript Webhook": {
      "main": [
        [
          {
            "node": "Analyze Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Transcript": {
      "main": [
        [
          {
            "node": "Return Approval Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ai-ops-workflow-kit"
}

